.s-hero {
  background-color: $brand-color;
  margin-top: 11.9rem;
  padding-top: 3.9rem;
  .container {
    @include flex-mode(flex-start, space-between, row);
    .text {
      width: 100%;
      max-width: 55rem;
      h1 {
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 120%;
        color: $white;
        margin-bottom: 1.6rem;
      }
      p {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: $white;
        max-width: 48.8rem;
        margin-bottom: 3.2rem;
      }
      button {
        @include style-btn(5.4rem, $secondary-color, #543590);
        margin-bottom: 8.6rem;
      }
      .conheca {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        margin-bottom: 8.2rem;
        span {
          font-weight: 700;
          line-height: 1.9rem;
          color: $white;
        }
        .icon {
          @include flex-mode(center, center, row);
          background-color: hsla(261, 41%, 54%, 0.4);
          border-radius: 0.6rem;
          width: 4.2rem;
          height: 4.2rem;
        }
      }
    }
    .image-hero {
      position: relative;
      top: 3.7rem;
    }
  }
  @include responsive(991px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .text {
        max-width: 100%;
        margin-bottom: 3rem;
        h1 {
          text-align: center;
        }
        p {
          max-width: 100%;
          text-align: center;
        }
        button {
          display: block;
          margin: 0 auto;
          margin-bottom: 4rem;
        }
        .conheca {
          justify-content: center;
        }
      }
    }
  }
  @include responsive(600px) {
    padding-top: 2.5rem;
    margin-top: 8rem;
    .container {
      .text {
        h1 {
          font-size: 4.3rem;
        }
      }
      .image-hero {
        left: -0.9rem;
      }
    }
  }
}

.s-resources {
 padding-top: 14.9rem;
 padding-bottom: 9.9rem;
 
    .title-area {
      @include flex-mode(center, space-between, row);
      margin-bottom: 5.3rem;
      h2 {
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 130%;
        color: $sub-title-color;
        max-width: 50.2rem;
      }
      p {
        font-weight: 500;
        line-height: 150%;
        color: $text-color;
      }
    }
    .content {
      @include flex-mode(flex-start, space-between, row);
      .icon {
        @include flex-mode(center, center, row);
        width: 6.4rem;
        height: 6.4rem;
        background-color: $bg-icon;
        border-radius: 1.2rem;
        margin-bottom: 3rem;
      }
      .info {
        max-width: 23.9rem;
        h4 {
          font-weight: 800;
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: $brand-color;
          margin-bottom: 2rem;
        }
      p {
        font-weight: 400;
        line-height: 165%;
        color: $text-color;
      }
      }
      .card-featured {
        width: 100%;
        max-width: 28rem;
        height: 32.3rem;
        background-color: $bg-icon;
        border-radius: 1.2rem;
        padding-top: 4.1rem;
        padding-left: 4.2rem;
        .info {
          p {
            max-width: 20.4rem;
          }
        }
        .icon {
          background-color: $white;
        }
      }
      ul {
        margin-top: 4.1rem;
        width: 100%;
        max-width: 90.4rem;
        @include flex-mode(flex-start, space-between, row);
        padding-bottom: 6.5rem;
        border-bottom: 3px solid hsla(261, 46%, 43%, 0.1);
        padding-left: 2rem;
      }
    }
}